<% content_for :title, t('headings.all_documents') %>

<div class="mb-3">
  <%= text_field_tag :user, nil, placeholder: t('placeholder.document_search'), class: "form-control", id: "searchDoc", onkeyup: "filter_documents()" %>
</div>

<%= render 'documents' %>

<% content_for :javascript do %>
  function filter_documents() {
    input = document.getElementById('searchDoc').value.toUpperCase();
    Array.prototype.forEach.call(document.getElementsByClassName('card'), function(card) {
      heading = card.getElementsByClassName('card-header')[0].innerHTML;
      if (heading && heading.toUpperCase().includes(input)) {
        card.style.display = "";
      } else {
        card.style.display = "none";
      }
    });
  }
<% end %>
