@import "bootstrap/scss/bootstrap";
@import "toastr/toastr";

require bootstrap-datepicker

.center_div {
  margin: 0 auto;
  width: 60%
}

.navbar {
  margin-bottom: 10px;
}

.card {
  margin-bottom: 10px;
}
